<style>
	ul.sub-data {
		list-style: none;
		display: table;
		padding-left: 0;
	}

	ul.sub-data li {
		display: table-row;
	}

	ul.sub-data li b {
		display: table-cell;
		padding-right: 1em;
	}
</style>

<eos-container header="Subscription Info" class="setting-padtop">
	<p>
	<div ng-if="fetchingSubscriptionData === true">
		<ul class="sub-data">
			<li><b>Tier:</b> fetching...</li>
			<li><b>Credits used:</b> fetching...</li>
			<li><b>Reset date:</b> fetching...</li>
		</ul>
	</div>
	<div ng-if="fetchingSubscriptionData === false">
		<ul class="sub-data">
			<li><b>Tier:</b>
				{{subscriptionData.tier}}</li>
			<li><b>Credits used:</b>{{subscriptionData.character_count_formatted}} /
				{{subscriptionData.character_limit_formatted}}
				<strong>(~{{subscriptionData.character_usage_percentage}}%)</strong>
			</li>
			<li><b>Reset date:</b>
				{{subscriptionData.next_reset_date_formatted}}</li>
		</ul>
	</div>
	</p>
</eos-container>

<eos-container header="Text" pad-top="true">
	<textarea ng-model="effect.text" class="form-control" name="text" placeholder="Enter text to synthesize" rows="4"
		cols="40" replace-variables menu-position="under"></textarea>
</eos-container>

<eos-container header="Model" pad-top="true">
	<p>
		<strong>Currently only the v3 model supports dialogue so this selector is disabled.</strong>
	</p>
	<p>
		Select which ElevenLabs model to use.
		<br>
		As an added bonus: The credits use is <strong>halved</strong> for Turbo and Flash, meaning 1 letter counts as
		0.5 credits instead of 1 credit.
		<br>
		<br>
		<b>Selected default model:</b> {{default_model}}
	</p>
	<ui-select ng-model="effect.model" ng-disabled="true">
		<ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
		<ui-select-choices repeat="model in models">
			<div>
				<strong ng-bind-html="model.name"></strong>
			</div>
		</ui-select-choices>
	</ui-select>
</eos-container>

<eos-container header="Split Text" pad-top="true">
	<p>
		Which character/s to split on. It will always split it with this text and a space at the start and end.
		<br>
		For example: If you enter <code>--</code>, it will only split on <code>A -- B</code>, not on <code>A---</code>
	</p>
	<firebot-input model="effect.splitText" input-type="string" disable-variables="true"
		placeholder-text="Enter text to split the dialogues on"></firebot-input>
</eos-container>

<eos-container header="Stability" pad-top="true">
	<p>
		Sets how adventurous the model can be.
	</p>
	<p>
		<strong>Creative:</strong> expressive, varied phrasing and tone, can even sing.
		<br>
		<strong>Natural:</strong> conversational balance.
		<br>
		<strong>Robust:</strong> precise, stable and predictable.
	</p>
	<firebot-select name="stability" selected="effect.stability"
		options="{ '0.0': 'Creative (0.0)', '0.5': 'Natural (0.5)', '1.0': 'Robust (1.0)' }" placeholder="0.5" />
</eos-container>

<eos-container header="Voice Matches" pad-top="true">
	<p>
		The names are separated by a comma (,) so you could do "John, James, Jeremy" and it would allow you to do TTS
		with all of those names for that voice.
	</p>
	<div style="margin-top: 10px;">
		<table style="max-height: 200px;
	width: 100%;
	overflow-y: scroll;
	border-collapse: separate;
	-webkit-border-vertical-spacing: 4px;">
			<tr class="header">
				<th style="width: 45%;">
					<firebot-input style="margin-top: 20px; margin-right: 10px;" model="effect.voiceAddName"
						input-type="string" disable-variables="true" placeholder-text="Voice Names"></firebot-input>
				</th>
				<th style="width: 45%;">
					<ui-select ng-model="effect.voiceAddID" style="margin-right: 10px;">
						<ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="voice in getRemainingVoices() | filter: $select.search">
							<div>
								<strong ng-bind-html="voice.name | highlight: $select.search"></strong>
								<em ng-bind-html="'(' + voice.category + ')' | highlight: $select.search"></em>
							</div>
							<small ng-bind-html="voice.description | highlight: $select.search"></small>
						</ui-select-choices>
					</ui-select>
					<!-- <firebot-input style="margin-top: 20px; margin-right: 20px;" model="effect.voiceAddID"
						input-type="string" disable-variables="true" placeholder-text="Voice ID"></firebot-input> -->
				</th>
				<th style="width: 10%;">
					<div class="btn btn-primary" ng-click="addVoice()"
						ng-disabled="!effect.voiceAddName || !effect.voiceAddID">
						<i class="far fa-plus-circle"></i>
					</div>
				</th>

			</tr>
			<tr ng-if="effect.voices" ng-repeat="(voice_id, entry) in effect.voices" style="margin-bottom: 10px;">
				<td style="width: 45%; text-align: center;">{{entry.names.join(', ')}}</td>
				<td style="width: 45%; text-align: center;">{{entry.voice_name}}
					<tooltip text="'ID: ' + entry.voice_id"></tooltip>
				</td>
				<td style="width: 10%;"><button class="btn btn-danger" ng-click="deleteVoice(voice_id)"><i
							class="far fa-trash"></i></button></td>
			</tr>
		</table>
	</div>
</eos-container>

<eos-container header="Wait For Generation" pad-top="true">
	<p>
		Waits for the generation to finish before continuing with other effects.
	</p>
	<label class="control-fb control--checkbox"> Wait For Generation
		<input type="checkbox" ng-model="effect.waitForGeneration">
		<div class="control__indicator"></div>
	</label>
</eos-container>